.container {
    height: 100%;
    width: 100%;
    padding: 4rem 2rem;
    @media screen and (min-width: map-get($breakpoints, tablet)){
        padding: 3rem;
    }
    @media screen and (min-width: map-get($breakpoints, desktop)){
        padding: 4rem;
    }
    &--footer {
        padding: 2rem;
        @media screen and (min-width: map-get($breakpoints, tablet)){
            padding: 3rem;
        }
    }
    &--menu {
        padding: 2rem;
        &-title {
        @include flex-between;
        }
    };
}