.header {
    background: $color-white;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    @include header-shadow;  
    &__logo {
        height: 3rem;
    }
}