body {
    font-family: $font-text;
    font-size: 1.4rem;
    font-weight: 100;
}

h1 {
    font-family: $font-title;
    font-weight: 900;
    font-size: 5rem;
    font-style: italic;
}

h2 {
    font-family: $font-text;
    font-weight: 700;
    margin: 1rem 0rem;
}

h3 {
    font-family: $font-text;
    font-weight: 900;
}

h4 {
    font-family: $font-text;
    font-weight: 100;
}

h5 {
    font-family: $font-text;
    font-size: 1.4rem;
    font-weight: 500;
}

button {
    font-family: $font-text;
    font-weight: 500;
    font-size: 1.5rem;
}