/* loading animation */
.loader-background,
.location {
    animation: fade-in 2700ms ease-in;
}

.loader {
    position: absolute;
    z-index: 1001;
    left: 50%;
    border: 16px solid $color-secondary;
    border-top: 16px solid $color-primary;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    animation: spin 1100ms linear;
    opacity: 0;
    @media screen and (min-width: map-get($breakpoints, large-tablet)){
        width: 30rem;
        height: 30rem;
    }
}

/* location section */

.location {
    @include flex-center;
    width: 100%;
    height: 6rem;
    background-color: $color-gray--dark;
    &__icon {
        margin-right: 1rem;
    }
}

/* Book the menu you like section*/

.booking {
    background-color: $color-gray--light;
    height: 30rem;
    &__info {
        @include flex-between;
        flex-direction: column;
        height: 100%;
        text-align: center;
        padding: $booking-padding;
    }
}

/* How it works section */

.explanation {
    &__card {
        margin: 2rem 0rem 2rem 1rem;
        height: 6rem;
        background-color: $color-gray--light;
        @media screen and (min-width: map-get($breakpoints, tablet)){
            width: 80%;
            margin: 3rem auto;
            max-width: 1000px;
        }
        &--primarycolor{
            background-color: rgba($color-primary, 0.1);
        }
        &-title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            margin: $title-margin;
        }
        &-number {
            background-color: $color-primary;
            color: $color-white;
            border-radius: 1000px;
            position: absolute;
            padding: .25rem .75rem;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%)
        }
        &-icon {
            color: black;
            width: 10px;
            margin: 0rem 3rem;
            &--primarycolor{
                color: $color-primary;
            }
        }
    }
}

/* Restaurants section */

.restaurant {
    background-color: $color-gray--light;
    &__container {
        @media screen and (min-width: map-get($breakpoints, tablet)){
            @include flex-center;
            flex-wrap: wrap;
            padding: 2rem 0rem;
        }
    }
    &__card {
        height: 20rem;
        width: 100%;
        max-width: 35rem;
        margin: 2rem 0rem;
            @media screen and (min-width: map-get($breakpoints, tablet)){
                margin: 1.2rem;
                width: 45%;
            }
            @media screen and (min-width: map-get($breakpoints, large-tablet)){
                height: 25rem;
                margin: 1.4rem;
            }
            @media screen and (min-width: map-get($breakpoints, desktop)){
                margin: 2rem;
            }
        &-image {
            height: 100%;
            width: 100%;
            border-radius: $card-radius;
        }
        &-new {
            height: 3rem;
            width: 8rem;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 40%);
            font-weight: 700;
            position: absolute;
            top: 2rem;
            left: 65%;
            margin: auto;
            border-radius: 5px;
            @include flex-center;
            @media screen and (min-width: map-get($breakpoints, large-tablet)){
                height: 3.5rem;
                width: 9rem;
            }
        }
        &-label {
            @include flex-between;
            background-color: $color-white;
            width: 100%;
            height: 5rem;
            border-radius: 0 0 $card-radius $card-radius;
            position: absolute;
            top: 75%;
            left: 0;
            padding: $label-padding;
            @media screen and (min-width: map-get($breakpoints, large-tablet)){
                height: 6.5rem;
            }
        }
        &-icon {
            color: white;
            -webkit-text-stroke: 1px black;
            cursor: pointer;
            transition: all 500ms;
            -webkit-transition: all 500ms;
            &:hover {
                -webkit-text-stroke: 1px transparent;
                background: linear-gradient(to bottom right, $color-secondary, $color-primary);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }
        }
    }
}
