.menu{
    /* Menu top image */
    background-color: $color-gray--light;
    &__restaurant{
        &-image{
            position: relative;
            width: 100%;
            z-index: 0;
        }
    }
    /* title section */ 
    &__title{
        background-color: $color-gray--light;
        position: relative;
        z-index: 1;
        border-radius: 3.5rem 3.5rem 0 0;
        margin-top: -6rem;
        padding: 1rem 0rem;
            @media screen and (min-width: map-get($breakpoints, desktop)){
                margin-top: -30rem;
            }
        &-icon {
            color: white;
            margin: 0rem 2rem;
            font-size: 2rem;
            -webkit-text-stroke: 1px black;
            cursor: pointer;
            transition: all 500ms;
            -webkit-transition: all 500ms;
            &:hover {
                -webkit-text-stroke: 1px transparent;
                background: linear-gradient(to bottom right, $color-secondary, $color-primary);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }
        }
    }
    /* menu choices*/
    &__choices{
        background-color: $color-gray--light;
        position: relative;
        z-index: 1;
        &-title {
            display: inline-block;
                p {
                text-transform: uppercase;
                padding-bottom:10px;
                position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 60%;
                        bottom: 0;
                        left: 0;
                        border-bottom: 2px solid $color-tertiary;
                    }
                }
        }
        &-card {
            background-color: $color-white;
            margin: 1.5rem 0rem;
                @media screen and (min-width: map-get($breakpoints, large-tablet)){
                    margin: 2.5rem 0rem;
                }
            &-meal {
                padding: 1rem;
                @media screen and (min-width: map-get($breakpoints, tablet)) {
                    padding: 1rem 2rem;
                }
                @media screen and (min-width: map-get($breakpoints, large-tablet)) {
                    padding: 1.5rem 2rem;
                }
                &-item {
                    margin: .5rem 0;
                }
                &-desc {
                    @include flex-between;
                    font-size: 1.2rem;
                    &-price {
                        font-weight: 700;
                    }
                }
            } 
        }
    }
    /* Order */
    &__order {
        @include flex-center;
    }
}
    